@use "../abstract/minxins" as layout;
@use "../abstract/variables" as color_fonts;
.accordion {
  @include layout.flex($aling: flex-start, $justify: flex-start, $gap: 2rem);
  &__box {
    width: 100%;
    position: relative;
    &::after {
      content: "";
      background-color: #0004;
      bottom: -0.8rem;
      position: absolute;
      height: 1px;
      width: 100%;
    }
  }

  &__head {
    cursor: pointer;
    margin-bottom: 1rem;
    text-wrap: balance;
    width: 100%;
    @include layout.flex(
      $justify: space-between,
      $direction: row,
      $gap: 0.5rem
    );

    &:hover .accordion__question {
      color: color_fonts.$grayish-purple;
      transition: color ease-in-out 0.2s;
    }
  }

  &__question {
    transition: color ease-in-out 0.2s;
  }

  &__icon {
    flex-basis: content;
  }

  &__description {
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: ease-in 0.25s;
    &--active {
      height: 9rem;
      @include layout.media-break() {
        height: 7rem;
      }
      padding: 0.1rem;
      transition: ease-in 0.25s;
    }
  }
}
