@use "../abstract/minxins" as layout;
@use "../abstract/variables" as color_fonts;
.card {
  background: color_fonts.$light-pink
    url("../../../dist/assets/images/background-pattern-mobile.svg") no-repeat;
  background-size: contain;
  width: 100dvw;
  min-height: 100dvh;
  padding-top: 8rem;
  @include layout.center();

  &__wrapper {
    background-color: color_fonts.$white;
    border-radius: 0.65rem;
    box-shadow: 0.2rem 0.2rem 0.4rem 0.06rem #dfd9d9 inset,
      -0.2rem -0.2rem 0.4rem 0.1rem #00000071 inset;
    padding: 1.3rem;
    width: 95%;
    min-height: 36rem;
  }

  &__header {
    margin-bottom: 1.8rem;
    @include layout.flex($direction: row, $gap: 1.5rem, $justify: flex-start);
  }

  &__icon {
    width: 1.9rem;
  }
}
